# Settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*

# Security settings
*.eve
**/*.config.ini

# User settings
**/settings.json
**/launch.json
**/tasks.json

# Virtual Enviroments
.veNumPy
.veContactos
.vePandas
.veMach
.vePlotly
.veInventario
.IA325
.ve*